#box {
    width: 450px;
    height: 200px;
    position: absolute;
}

a {
    color: #333;
    text-decoration: none;
}

#emoji_area,
#liveChatContent {
    width: 400px;
    height: 100px;
    outline: none;
    border: 1px solid #000000db;
}

#face {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #999;
    background: #f3f3f3;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}

#box.a1 {
    left: 10px;
    top: 0;
}

#box.a2 {
    right: 10px;
    top: 0;
    text-align: right;
}

#box.a3 {
    left: 10px;
    bottom: 10px;
}

#box.a4 {
    right: 10px;
    bottom: 10px;
    text-align: right;
}

/* 控制显示emoji的样式 */
#emoji2{
    width: 40px;
    height: 40px;
}